@{

}
<h2>关于个人博客的自述</h2>
<blockquote class="layui-elem-quote layui-quote-nm">
    这仅仅是一个个人博客，<a class="layui-font-blue" asp-action="Login" asp-controller="User">登录</a>或<a class="layui-font-blue" asp-action="Creat" asp-controller="User">注册</a>即可评论
</blockquote>

<ul style="line-height:2">
    <li>这个博客开始于即将到来的大三上学期的java web课程综合设计</li>
    <li>同时记录着真正开始的程序员之路</li>
</ul>