@{

}
<blockquote class="layui-elem-quote layui-quote-nm">
    这仅仅是一个个人博客，<a class="layui-font-blue" asp-action="Login" asp-controller="User">登录</a>或<a class="layui-font-blue" asp-action="Creat" asp-controller="User">注册</a>即可评论
</blockquote>