@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form class="layui-form layui-form-pane" asp-controller="Blog" asp-action="Creat" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <input name="title" type="text" class="layui-input" placeholder="请填写标题" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">摘要</label>
        <div class="layui-input-block">
            <input name="abs" type="text" class="layui-input" placeholder="请填写摘要" />
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">正文</label>
        <div class="layui-input-block">
            <textarea name="content" class="layui-textarea" placeholder="请填写内容"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <button type="submit" class="layui-btn" lay-submit>确认</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>

</form>