@{
    //<a class="layui-font-18 layui-font-blue" asp-action="Get" asp-controller="Blog" asp-route="@aBlog.BId">详情...</a>
}
@model MyBlog.Models.Blogs;

@{
    foreach (ABlog aBlog in Model.BlogList)
    {
        <div style="padding:16px;line-height:2">
            <h1>@aBlog.Title</h1>
            <p class="layui-font-18 ">@aBlog.Abstracts</p>
            <a asp-controller="Blog" asp-action="Get" asp-route-bId="@aBlog.BId" class="layui-font-blue">详情...</a>
        </div>
        <hr class="layui-boreder-black" />
    }
}
